{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
            {% block meta %}
                <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                {% block meta_info %}
                    <meta name="description" content="GoTest">
                    <meta name="author" content="voidfirefly@gmailcom">
                {% endblock meta_info %}
            {% endblock meta %}
            <link rel="icon" href="{% static "main/img/favicon.ico" %}">
            {% block title %}
                <title>GoTest</title>
            {% endblock title %}
            {% block css %}
                <link href="{% static "utils/css/bootstrap.min.css" %}" rel="stylesheet">
                <link href="{% static "main/css/base.css" %}" rel="stylesheet">
                <link href="{% static "main/css/sidebar.css" %}" rel="stylesheet">
            {% endblock css %}
        {% endblock head %}
    </head>
    <body>
        {% block body %}
            {% block header %}
                <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom box-shadow">
                    <a class="navbar-brand mr-0 mr-md-2"><img class="d-block" src="{% static "main/img/gotest.png" %}" alt="" width="20" height="20"></a>
                    <h5 class="my-0 mr-md-auto font-weight-normal">
                        <a href="{% url 'main:main' %}">GoTest</a>
                    </h5>
                    
                    <nav class="my-2 my-md-0 mr-md-3">
                        {% for nav in view.navs_list %}
                            <a class="p-2 text-dark" href="{{ nav.url }}">{{ nav.title }}</a>
                        {% endfor %}
                    </nav>
                    <a class="btn btn-outline-primary" href="{% url 'account:logout' %}">Выход</a>
                </div>
            {% endblock header %}
            {% block main %}
                <div class="container-fluid">
                    <div class="row">
                        {% block sidebar %}
                            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                                <div class="sidebar-sticky">
                                    <ul class="nav flex-column">
                                        {% for tab in view.tabs_list %}
                                            <li class="nav-item">
                                                <a class="nav-link {% if tab.active %}active{% endif %}" href="{{ tab.url }}">
                                                    {{ tab.title }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    {% if not view.request.user.is_staff %}
                                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                                            <span>Текущие тесты</span>
                                            <a class="d-flex align-items-center text-muted" href="#">
                                            </a>
                                        </h6>
                                        <ul class="nav flex-column">
                                            {% for test in view.current_test %}
                                                <li class="nav-item">
                                                    <a class="nav-link {% if tab.active %}active{% endif %}" href="{% url 'tests:test' test.test_uid 1 %}">
                                                        {{ test.test.title }}
                                                    </a>
                                                </li>
                                            {% empty %}
                                                <li class="nav-item">
                                                    <a class="nav-link">Нет текущих</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                            </nav>
                        {% endblock sidebar %}
                        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                        {% block body_content %}
                        {% endblock body_content %}
                        </main>
                    </div>
                </div>
            {% endblock main %}
        {% endblock body %}
    </body>
</html>