{% extends 'main/base.html' %}
{% load static %}

{% block title %}
    <title>Вход в систему</title>
{% endblock title %}

{% block css %}
    {{ block.super }}
    <link href="{% static "accounts/css/signin.css" %}" rel="stylesheet">
{% endblock css %}
{% block body %}
  <body class="text-center">
    <form class="form-signin" method="POST">
      {% csrf_token %}
      <img class="mb-4" src="{% static "main/img/gotest.png" %}" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Вход в систему</h1>
      <label for="username" class="sr-only">Имя пользователя</label>
      <input type="text" id="username" name="username" value="{{ form.field.username.value }}" class="form-control" placeholder="Имя пользователя" required="" autofocus="">
      <label for="password" class="sr-only">Пароль</label>
      <input type="password" id="password" name="password" class="form-control" placeholder="Пароль" required="">
      <div class="mb-3">
        <label class="text-danger">
          {{ form.non_field_errors.as_text }}
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
    </form>
{% endblock body %}