{% extends 'tests/test_list.html' %}
{% block item_test  %}
    {% for appointed_test in view.tests %}
        {% for test in appointed_test.tests.all %}
            <div class="col-sm-12 col-sm-6 col-md-4 my-3">
                <div class="card box-shadow">
                    <div class="card-body">
                        <h5 class="card-title">{{ test.title }}</h5>
                        <p class="card-text">{{ test.description|truncatewords:10 }}</p>
                        <p class="card-text">Назначен c {{ appointed_test.datetime_start }} до {{ appointed_test.datetime_end }}</p>
                        <p class="card-text">Длительность {{ appointed_test.duration }} минут</p>
                        <a href="{% url 'tests:start_appointed_test' test.slug %}" class="btn btn-primary {% if not appointed_test.is_available %} disabled {% endif %}">Пройти тест</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endfor %}
{% endblock item_test  %}