{% extends 'main/base.html' %}
{% block body_content %}
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
		<h1 class="h2">
			{% block content_title %}
				Content title
			{% endblock content_title %}
		</h1>
		<div class="btn-toolbar mb-2 mb-md-0">
			<div class="btn-group mr-2">
				<a href="{% url 'stats:summary_by_tests' %}" class="btn btn-sm btn-outline-secondary {% if view.active_tab == 'summary_by_tests' %}active{% endif %}">Статистика по курсам</a>
				<a href="{% url 'stats:summary_by_users' %}" class="btn btn-sm btn-outline-secondary {% if view.active_tab == 'summary_by_users' %}active{% endif %}">Статистика по пользователям</a>
			</div>
		</div>
	</div>

	{% block stats_content %}
	{% endblock stats_content %}
{% endblock body_content %}